#logInForm{
  position: absolute;
  width: 300px;
  right: 0px;
  z-index: 100;
  color: @form-text-color;
  padding: 15px 20px;
  background-color: @form-bg-color;
  box-shadow: 5px 8px 35px -8px #000, -5px 8px 35px -8px #000;
  input{
    color: @form-input-text-color;
    .btn{
      color: @btn-text;
    }
  }
  .invalidField {
    color: tomato;
    input{
      box-shadow: 0px 0px 15px 5px tomato;
    }
  }
}
.regWrapper{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(150, 150, 150, 0.3);
  z-index: 1000;
  #regForm{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @form-text-color;
    padding: 15px 20px;
    background-color: @form-bg-color;
    box-shadow: 5px 8px 35px -8px #000000, -5px 8px 35px -8px #000000;
    .close{
      position: absolute;
      right: 30px;
      top: 30px;
    }
    .success{
      h3{
        margin: 40px 0;
        line-height: 1.5;
      }
    }
    h2{
      text-align: center;
    }
    form{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      .regField{
        margin: 15px 0px;
        &.photo{
          text-align: center;
          .btn{
            float: right;
            width: calc(~"100% - 15px");
          }
          img{
            max-width: 300px;
            max-height: 200px;
          }
        }
        label:before,
        label::before {
          content: '';
          width: 100%;
          height: 5px;
          position: relative;
          display: block;
        }
        input{
          line-height: 2;
          border-width: 0;
          color: @form-input-text-color;
          &[name="agree"]{
            position: relative;
            transform: translateX(100%);
            vertical-align: middle;
          }
          &[type="date"]
          .btn{
            color: @btn-text;
          }
        }
        div#agree{
          padding: 10px 0;
          label{
            margin: 0;
            margin-left: 30px;
            vertical-align: middle;
          }
          label:before,
          label::before{
            display: none;
          }
        }
      }
      .invalidField {
        color: tomato;
        input{
          box-shadow: 0px 0px 15px 5px tomato;
        }
      }
    }
  }
}
.header{
	.bg-img{
		width: 100%;
    	height: 300px;

	}
	.logo-big{
		display: block;
	    position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -300px;
	    max-height: 300px;
	}
}

.menu{
	.navbar{
		margin-bottom: 25px;

		ul li {
			a {
				padding-top: 20px;
				padding-bottom: 20px;
				font-family: dejavu_sansbook;
				font-size: 18px;
			 	color: @btn-text;
				background-color: @btn-background;
				.transition(0.2s);
			}
			&.active > a,
			&.open > a{
				outline: none;
				color: @active-btn-text;
				background-color: @active-btn-background;
			}
			&.dropdown ul{
				padding: 0;
			    border: 0;
			    box-shadow: 5px 8px 35px -8px #000, -5px 8px 35px -8px #000;
			}
		}
		.container{
			margin-top: -1px;
			.navbar-right {
				margin-right: 0px !important;
			}
		}
	}
}

.no-touch .menu .navbar ul li {
	a:hover,
	a:focus{
		color: @hover-btn-text;
		background-color: @hover-btn-background;
	}
	 
	&.active > a:hover, 
	&.active > a:focus,
	&.open > a:hover, 
	&.open > a:focus{
		outline: none;
		color: @active-btn-text;
		background-color: @active-btn-background;
	}

	#logInForm input.btn{
		&:hover, &:focus{
			color: @active-btn-background;
			background-color: white
		}
	}
}	
.info-block{
	.item{
		overflow: hidden;
		height: auto;
		padding-top:25px;
		padding-bottom: 25px;
		h2{
			margin-top: 0px;
			margin-bottom: 30px;
			text-align: center;
		}
		div.text{
			font-size: 18px;
			margin: 20px 0;
		}
		img{
			display: block;
			margin: 0 auto;
		}
		form{
			margin-top: 20px;

			.form-group{
				padding-right: 0;
			}
			.button-group{
				padding-left: 0;
			}

			input[type="email"], button[type="submit"]{
				width: 100%;
			    height: auto;
			    line-height: 2.5;
			    font-size: 18px;
			    .transition(0.2s);
			}
			input[type="email"]{
			    border-radius: 50px 0 0 50px;
			    border-width: 0;
			    padding: 6px 30px;
			}
			button[type="submit"]{
				margin-left: -1px;
			    border-width: 0;
			    border-radius: 0 50px 50px 0;
				color: @active-btn-text;
				background-color: @active-btn-background;
			}
		}
	}
}

.no-touch{
	.info-block{
		.item{
			form{
				button[type="submit"]{
					&:hover, &:focus{
						color: @hover-btn-text;
						background-color: @hover-btn-background;
					}
				}
			}
		}
	}
}
//colors:
//
//1-buttons:
@hover-btn-text: #fff;
@hover-btn-background: #1E9CD7;

@active-btn-text: #fff;
@active-btn-background: #005B97;

@btn-text: #1E9CD7;
@btn-background: transparent;
//forms
@form-bg-color: #005b97;
@form-text-color: white;
@form-input-text-color: #005b97;


.transition(@duration){
	-webkit-transition: all @duration 0s linear;
    -moz-transition: all @duration 0s linear;
    -o-transition: all @duration 0s linear;
    transition: all @duration 0s linear;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: dejavu_sansbook;
}

h2 {
	&.hover{
		.transition(0.2s);
		a{
			color: @hover-btn-background;
		}
	}
	&.unhover{
		color: @hover-btn-background;
	}
}

.no-touch{
	h2.hover{
		&:hover, a:hover, a:focus{
			color: @active-btn-background;
		}
	}
}

p{
	font-family: merriweatherregular;
	line-height: 1.8;
}

a,
a:hover,
a:visited,
a:focus,
a:active{
	text-decoration: none;
}