#logInForm {
  position: absolute;
  width: 300px;
  right: 0px;
  z-index: 100;
  color: white;
  padding: 15px 20px;
  background-color: #005b97;
  box-shadow: 5px 8px 35px -8px #000000, -5px 8px 35px -8px #000000;
}
#logInForm input {
  color: #005b97;
}
#logInForm input .btn {
  color: #1e9cd7;
}
#logInForm .invalidField {
  color: tomato;
}
#logInForm .invalidField input {
  box-shadow: 0px 0px 15px 5px tomato;
}
.regWrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(150, 150, 150, 0.3);
  z-index: 1000;
}
.regWrapper #regForm {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 15px 20px;
  background-color: #005b97;
  box-shadow: 5px 8px 35px -8px #000000, -5px 8px 35px -8px #000000;
}
.regWrapper #regForm .close {
  position: absolute;
  right: 30px;
  top: 30px;
}
.regWrapper #regForm .success h3 {
  margin: 40px 0;
  line-height: 1.5;
}
.regWrapper #regForm h2 {
  text-align: center;
}
.regWrapper #regForm form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.regWrapper #regForm form .regField {
  margin: 15px 0px;
}
.regWrapper #regForm form .regField.photo {
  text-align: center;
}
.regWrapper #regForm form .regField.photo .btn {
  float: right;
  width: calc(100% - 15px);
}
.regWrapper #regForm form .regField.photo img {
  max-width: 300px;
  max-height: 200px;
}
.regWrapper #regForm form .regField label:before,
.regWrapper #regForm form .regField label::before {
  content: '';
  width: 100%;
  height: 5px;
  position: relative;
  display: block;
}
.regWrapper #regForm form .regField input {
  line-height: 2;
  border-width: 0;
  color: #005b97;
}
.regWrapper #regForm form .regField input[name="agree"] {
  position: relative;
  transform: translateX(100%);
  vertical-align: middle;
}
.regWrapper #regForm form .regField input[type="date"] .btn {
  color: #1e9cd7;
}
.regWrapper #regForm form .regField div#agree {
  padding: 10px 0;
}
.regWrapper #regForm form .regField div#agree label {
  margin: 0;
  margin-left: 30px;
  vertical-align: middle;
}
.regWrapper #regForm form .regField div#agree label:before,
.regWrapper #regForm form .regField div#agree label::before {
  display: none;
}
.regWrapper #regForm form .invalidField {
  color: tomato;
}
.regWrapper #regForm form .invalidField input {
  box-shadow: 0px 0px 15px 5px tomato;
}
.header .bg-img {
  width: 100%;
  height: 300px;
}
.header .logo-big {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  max-height: 300px;
}
.menu .navbar {
  margin-bottom: 25px;
}
.menu .navbar ul li a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: dejavu_sansbook;
  font-size: 18px;
  color: #1e9cd7;
  background-color: transparent;
  -webkit-transition: all 0.2s 0s linear;
  -moz-transition: all 0.2s 0s linear;
  -o-transition: all 0.2s 0s linear;
  transition: all 0.2s 0s linear;
}
.menu .navbar ul li.active > a,
.menu .navbar ul li.open > a {
  outline: none;
  color: #ffffff;
  background-color: #005b97;
}
.menu .navbar ul li.dropdown ul {
  padding: 0;
  border: 0;
  box-shadow: 5px 8px 35px -8px #000000, -5px 8px 35px -8px #000000;
}
.menu .navbar .container {
  margin-top: -1px;
}
.menu .navbar .container .navbar-right {
  margin-right: 0px !important;
}
.no-touch .menu .navbar ul li a:hover,
.no-touch .menu .navbar ul li a:focus {
  color: #ffffff;
  background-color: #1e9cd7;
}
.no-touch .menu .navbar ul li.active > a:hover,
.no-touch .menu .navbar ul li.active > a:focus,
.no-touch .menu .navbar ul li.open > a:hover,
.no-touch .menu .navbar ul li.open > a:focus {
  outline: none;
  color: #ffffff;
  background-color: #005b97;
}
.no-touch .menu .navbar ul li #logInForm input.btn:hover,
.no-touch .menu .navbar ul li #logInForm input.btn:focus {
  color: #005b97;
  background-color: white;
}
.info-block .item {
  overflow: hidden;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.info-block .item h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.info-block .item div.text {
  font-size: 18px;
  margin: 20px 0;
}
.info-block .item img {
  display: block;
  margin: 0 auto;
}
.info-block .item form {
  margin-top: 20px;
}
.info-block .item form .form-group {
  padding-right: 0;
}
.info-block .item form .button-group {
  padding-left: 0;
}
.info-block .item form input[type="email"],
.info-block .item form button[type="submit"] {
  width: 100%;
  height: auto;
  line-height: 2.5;
  font-size: 18px;
  -webkit-transition: all 0.2s 0s linear;
  -moz-transition: all 0.2s 0s linear;
  -o-transition: all 0.2s 0s linear;
  transition: all 0.2s 0s linear;
}
.info-block .item form input[type="email"] {
  border-radius: 50px 0 0 50px;
  border-width: 0;
  padding: 6px 30px;
}
.info-block .item form button[type="submit"] {
  margin-left: -1px;
  border-width: 0;
  border-radius: 0 50px 50px 0;
  color: #ffffff;
  background-color: #005b97;
}
.no-touch .info-block .item form button[type="submit"]:hover,
.no-touch .info-block .item form button[type="submit"]:focus {
  color: #ffffff;
  background-color: #1e9cd7;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: dejavu_sansbook;
}
h2.hover {
  -webkit-transition: all 0.2s 0s linear;
  -moz-transition: all 0.2s 0s linear;
  -o-transition: all 0.2s 0s linear;
  transition: all 0.2s 0s linear;
}
h2.hover a {
  color: #1e9cd7;
}
h2.unhover {
  color: #1e9cd7;
}
.no-touch h2.hover:hover,
.no-touch h2.hover a:hover,
.no-touch h2.hover a:focus {
  color: #005b97;
}
p {
  font-family: merriweatherregular;
  line-height: 1.8;
}
a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}
