<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Routes For Runners</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/result.css" rel="stylesheet">
    <link href="../css/sprites.css" rel="stylesheet">
</head>

<body>
<header class="header">
    <img class="bg-img" src="../../images/grass-header.png" alt="bg-img">
    <img class="logo-big" src="../../images/logo.png" alt="logo-big">
</header>
<script type="text/javascript" src="../RunNgApp/app.js"></script>
<script type="text/javascript" src="../RunNgApp/controllers.js"></script>
<script type="text/javascript" src="../RunNgApp/directives.js"></script>
<script type="text/javascript" src="../RunNgApp/filters.js"></script>
<script type="text/javascript" src="../RunNgApp/services.js"></script>
</body>
</html>