<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Routes For Runners</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/result.css" rel="stylesheet">
    <link href="../css/sprites.css" rel="stylesheet">

	<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
	<header class="header">
		<img class="bg-img" src="../../images/grass-header.png" alt="bg-img">
		<img class="logo-big" src="../../images/logo.png" alt="logo-big">
	</header>
	<div class="menu">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Ссылка</a></li>
		        <li><a href="#">Ссылка</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Действие</a></li>
		            <li><a href="#">Другое действие</a></li>
		            <li><a href="#">Что-то еще</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Отдельная ссылка</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Еще одна отдельная ссылка</a></li>
		          </ul>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Ссылка</a></li>
		        <li><a href="#">Ссылка</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
</body>
</html>