<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Routes For Runners</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/result.css" rel="stylesheet">
    <link href="../css/sprites.css" rel="stylesheet">

	<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

</head>
<body>
	<header class="header">
		<img class="bg-img" src="../../images/grass-header.png" alt="bg-img">
		<img class="logo-big" src="../../images/logo.png" alt="logo-big">
	</header>
	<div class="menu">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header col-lg-12">
				    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					    <ul class="nav navbar-nav">
					        <li tabindex="0"><a href="#">Бігунам</a></li>
					        <li tabindex="1"><a href="#">Організаторам</a></li>
					        <li tabindex="2"><a href="#">Про нас</a></li>
					        <li class="dropdown" tabindex="3"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Додатково <b class="caret"></b></a>
						        <ul class="dropdown-menu">
						            <li><a href="#">Спробувати сервіс</a></li>
						            <li><a href="#">Питання та відповіді</a></li>
						            <li class="divider"></li>
						            <li><a href="#">Контакти</a></li>
						        </ul>
					        </li>
					    </ul>
					    <ul class="nav navbar-nav navbar-right">
					        <li tabindex="4"><a href="#">Реєстрація</a></li>
					        <li tabindex="5"><a href="#">Вхід</a></li>
					    </ul>
				    </div><!-- /.navbar-collapse -->
				</div>
			</div>
		</nav>
	</div>
	<script type="text/javascript">
		$(function(){//on ready

			//menu pills
			var menuPills = function(){
				var menuItems = $(".menu ul li");

				menuItems.each(function(index, el) {
					$(el).on('click', function(event){
						event.preventDefault();
						$(el).focus();

						menuItems.each(function(index, sibling) {
							$(sibling).removeClass('active');
							$(sibling).removeClass('open');
						});

						if($(el).hasClass('dropdown')){
							$(el).toggleClass('.open');
						}
						else{
							$(el).addClass('active');
						}
					});

					$(el).on("blur", function(event) {
						$(el).removeClass('active');
						$(el).removeClass('open');
					});
		
				});
			};
			menuPills();
		});
	</script>
</body>
</html>