<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Routes For Runners</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/result.css" rel="stylesheet">
    <link href="../css/sprites.css" rel="stylesheet">

	<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../modernizr.custom.55722.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	<header class="header">
		<img class="bg-img" src="../../images/grass-header.png" alt="bg-img">
		<img class="logo-big" src="../../images/logo.png" alt="logo-big">
	</header>
	<div class="menu">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
				    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="padding: 0;">
					    <ul class="nav navbar-nav">
					        <li tabindex="0"><a href="#">Бігунам</a></li>
					        <li tabindex="1"><a href="#">Організаторам</a></li>
					        <li tabindex="2"><a href="#">Про нас</a></li>
					        <li class="dropdown" tabindex="3"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Додатково <b class="caret"></b></a>
						        <ul class="dropdown-menu">
						            <li><a href="#">Спробувати сервіс</a></li>
						            <li><a href="#">Питання та відповіді</a></li>
						            <li><a href="#">Контакти</a></li>
						        </ul>
					        </li>
					    </ul>
					    <ul class="nav navbar-nav navbar-right">
					        <li tabindex="4" id="regBtn">
						        <a href="#">Реєстрація</a>					
						        <div id="registrationForm" style="display: none;">
								</div>
							</li>
					        <li tabindex="5" id="logInBtn">
					        	<a href="#">Вхід</a>
					        	<div id="logInForm" style="display: none;">
									<form role="form">
										<div class="form-group">
										    <label for="exampleInputEmail1">Електронна адреса</label>
										    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
										</div>
										<div class="form-group">
										    <label for="exampleInputPassword1">Пароль</label>
										    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
										</div>
										<div class="checkbox">
										    <label>
										        <input type="checkbox"> Запам'ятати мене
										    </label>
										</div>
										<input type="submit" class="btn btn-default" value="Увійти"></input>
									</form>
								</div>
					        </li>
					    </ul>
				    </div>

				</div>
			</div>
		</nav>
	</div>

	<div class="container info-block">
		<div class="row item">
			<h2 class="hover"><a href="#">Що це таке?</a></h2>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<img src="../../images/route.png">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 text">
				<p>Routes For Runners - сервіс для людей, котрі люблять і хочуть займатися бігом, котрі займаються організацією або популяризацією спортивних заходів пов'язаних з бігом. Головна функція нашого сервісу у тому, щоб визначити настрій користувача та підібрати йому найбільш слушний маршрут для бігу, який зможе підняти або підтримати настрій спортсмена.
				</p>
			</div>
		</div>
		<div class="row item">
			<h2 class="hover"><a href="#">Як цим користуватись?</a></h2>
			<div class="col-lg-6 col-md-6 col-sm-12 text">
				<p>Наш сервіс є надзвичайно простим у користуванні. Ви можете відвідувати наш сайт з будь-якого пристрою, якщо він підключений до інтеренету.<br>
				Варто лише зареєструватись, увійти у свій кабінет та наш сервіс відразу ж запропонує Вам найкращий маршрут бігу.<br>
				Організатори мають можливість розсилки сповіщень про змагання всіх своїх підписників.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<img src="../../images/cross-platform.png">
			</div>
		</div>
	</div>
		<div class="jumbotron">
			<div class="container info-block">
				<div class="row item">
					<h2 class="unhover">Немає бажання реєструватись?</h2>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p>
							Без проблем. Просто введіть свою електронну адресу у поле та натисніть "Спробувати".<br>На вказану вами адресу прийде повідомлення з посиланням на стрінку, з повним функціоналом сервісу.
						</p>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form class="form-inline row" role="form" id="try-form">
						 	<div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
						    	<input type="email" class="form-control " id="exampleInputEmail2" placeholder="Ваш email">
						  	</div>
						  	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 button-group">
						  		<button type="submit" class="btn btn-default ">Спробувати</button>
						  	</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<script type="text/javascript">
		$(function(){//on ready

			//menu pills
			var menuPills = function(){
				var menuItems = $(".menu ul:first li");

				menuItems.each(function(index, el) {
					$(el).on('click', function(event){
						event.preventDefault();
						$(el).focus();

						$(el).siblings().each(function(index, sibling) {
							$(sibling).removeClass('active');
							$(sibling).removeClass('open');
						});

						if($(el).hasClass('dropdown')){
							$(el).toggleClass('.open');
						}
						else{
							$(el).addClass('active');
						}
					});

					$(el).on("blur", function(event) {
						$(el).removeClass('active');
						$(el).removeClass('open');
					});
		
				});

				var logIn = $(".menu .navbar-right #logInBtn");
				var logInForm = logIn.find('#logInForm');
				var register = $(".menu .navbar-right #regBtn");

				logIn.on('click', function(event) {
					console.log("click");
					event.preventDefault();
					
					logInForm.on('click', function(event) {
						event.preventDefault();
						event.stopPropagation();
					});

					if(logIn.hasClass('active')) {
						logIn.removeClass('active');
						logInForm.hide('fast');
					} else {
						logIn.addClass('active');
						logInForm.show('fast');
					}
				});

				$(document).mouseup(function (e) {
				    if (logIn.has(e.target).length === 0){
				        logIn.removeClass('active');
						logInForm.hide('fast');
				    }
				});
			};
			menuPills();
		});

		$(document).on('scroll', function(event) {
			event.preventDefault();
			if($(window).scrollTop() >= 300) {
				$('.menu').css({
					'position': 'fixed',
					'top': '0',
					'z-index': '100',
					'width': '100%'
				});
			} else {
				$('.menu').css({
					'position': 'relative',
					'top': '',
					'z-index': ''
				});
			}
				
		});

	</script>
</body>
</html>